table#spreadsheet, td {
    border:2px solid black;
}
table#ratingscale {
    border:5px solid black;
    border-collapse: collapse;
    width: fit-content;
}
.gradient {
    border:0px solid black;
    background-color: red;
    min-width: 0px;
    height: 40px;
}

td a:link {
  text-decoration: none;
  color: black;
}

td a:visited {
  text-decoration: none;
  color: black;
}

td a:hover {
  text-decoration: none;
}

td a:active {
  text-decoration: none;
}
td {
    font-size: 18px;
}