{% extends 'base.html' %}

{% load static %}
{% block extrahead %}
    <link rel="stylesheet" type="text/css"
            href="{% static 'wot.css' %}">
{% endblock %}

{% block content %}
<center>
    <a href="update">Update</a>
    {% for key, value in subs.items %}
        <h3>{{key}}</h3>
        <div class="tank_container">
            {% for tank in value %}
                <div class="tank_info">
                    {{tank.tank}} WN8<br>
                    <div class="wn8" style="background: {{tank.wn8color}};">{{tank.wn8}}</div>
                    DMG per game: {{tank.avgDmg}} ({{tank.dif_Dmg}})<br>
                    FRAG per game: {{tank.avgFrag}} ({{tank.dif_Frag}})<br>
                    Winrate: {{tank.avgWinRate}} ({{tank.dif_expWinRate}})<br>
                </div>
            {% endfor %}
        </div>
    {% endfor %}
</center>
{% endblock %}