
{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Mile Pogawedki</title>
    <link rel="stylesheet" type="text/css"
          href="{% static 'style.css' %}">
    {% block extrahead %}{% endblock %}
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
</head>

<body>
    {% include "navbar.html" %}
    <div id="main_content">
        {% block content %}
        {% endblock %}
    </div>
</body>

</html>