{% load static %}
<ul>
  <li><a href="{% url 'home:index' %}">Home</a></li>
  <li><a href="{% url 'home:servers' %}">Servers</a></li>
  <li><a href="{% url 'home:personnel' %}">Personnel</a></li>
  <li><a href="{% url 'movierating:list' %}">Movies Repo</a></li>
  <li><a href="{% url 'wotapi:list' %}">World Of Tanks API thingy</a></li>


    {% if user.is_authenticated %}
        <div class="nav-user-info">
          <li class="nav-item">


            <div class="dropdown">
              <span><a class="nav-link" href="#">Welcome, {{user.username}}</a></span>
              <div class="dropdown-content">
                <a href="/editprofile">Edit profile</a>
                <a href="/edituser">Edit user</a>
                <a class="nav-link" href="/logout">Logout</a>
              </div>
            </div>

          </li>
        </div>

    {% endif %}
</ul>