{% load static %}
<ul>
  <li><a href="/">Home</a></li>
  <li><a href="/servers">Servers</a></li>
  <li><a href="/personnel">Personnel</a></li>
  <li><a href="/movierating">Movies Repo</a></li>


    {% if user.is_authenticated %}
        <div class="nav-user-info">
          <li class="nav-item">
            <a class="nav-link" href="#">Welcome, {{user.username}}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/logout">Logout</a>
          </li>
        </div>

    {% endif %}
</ul>